[Unit]
Description=Gunicorn instance to serve djangoctf
After=network.target

[Service]
User=user
Group=nginx
WorkingDirectory=/srv/djangoctf
Environment="PATH=/home/user/myproject/myprojectenv/bin"
ExecStart=/home/user/myproject/myprojectenv/bin/gunicorn --workers 3 --bind unix:/var/djangoctf.sock -m 007 wsgi

[Install]
WantedBy=multi-user.target
