[Unit]
Description=Gunicorn instance to serve djangoctf
After=network.target

[Service]
WorkingDirectory=/srv/djangoctf
Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8
EnvironmentFile=/srv/djangoctf/env.sh
ExecStart=/usr/local/bin/pipenv run gunicorn --workers 5 --bind unix:/srv/djangoctf/djangoctf.sock djangoctf.wsgi:application

[Install]
WantedBy=multi-user.target
